@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Verdana';
    src: url('fonts/Verdana-Bold.woff2') format('woff2'),
        url('fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('fonts/Verdana.woff2') format('woff2'),
        url('fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root{
    --font-verdana: 'Verdana', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.custom-container{
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}

.header-main__menu ul li a{
    font-family: var(--font-verdana);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    text-transform: capitalize;
    display: block;
}
.usp__text span{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
    color: #FFFFFF;
}   
.usp__text span > span{
    font-weight: 700;
}
.bundle-benefit__heading-main{
    font-family: var(--font-poppins);
    font-weight: 700;
    font-style: italic;
    font-size: 52px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.bundle-benefit__heading-desc p{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 42px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.bundle-benefit__box-item{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.bundle-benefit__box-item p{
    padding: 33px 16px;
    text-align: center;
}
.bundle-benefit__box-item p:first-child{
    flex: 0 1 337px;
    max-width: 337px;
}
.bundle-benefit__box-item p:nth-child(2){
    flex: 0 1 270px;
    max-width: 270px;
    color: #525050;
}
.bundle-benefit__box-item p:last-child{
    flex: 0 1 286px;
    max-width: 286px;
    text-shadow: 0px 1px 2px 0px #00000099;
    color: #fff;
    background: #FFC658;
    box-shadow: 0px 8px 46px 0px #00000033;
}
.bundle-benefit__box-item:first-child p{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 28px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.bundle-benefit__box-item:first-child p:last-child{
    font-family: var(--font-poppins);
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.bundle-benefit__box-item:not(:first-child) p:first-child{
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
    color: #000000;
    border-right: 2px solid #000000;
}
.bundle-benefit__box-item:not(:first-child) p:first-child span{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 3%;
    margin-top: 5px;
    display: block;
    color: #000000;
}
.bundle-benefit__box-item p img{
    --size: 60px;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
}
.bundle-benefit__box-item:not(:last-child){
    border-bottom: 2px solid #000000
}
@media only screen and (min-width: 992px){
    .custom-container{
        max-width: 1285px;
    }   
    .header-main__hamburg{
        display: none;
    }
}

@media only screen and (max-width: 991px){
    .usp__text span{
        font-size: 14px;
    }
    .header-main__menu {
        display: none;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 100%;
        left: 0;
        background: #fff;
    }
    .header-main__hamburg .close-icon{
        display: none;
    }
    .header-main__hamburg.open-menu .close-icon {
        display: block;
    }
    .header-main__hamburg.open-menu .menu-icon {
        display: none;
    }
    .header-main__menu ul li {
        border-bottom: 1px solid #000;
        padding: 0;
    }
    .header-main__menu ul li a{
        padding: 8px 20px;
    }
    .main-open-menu{
        overflow: hidden;
    }
}

@media only screen and (max-width: 575px){
    .usp__text span{
        font-size: 10px;
    }
}