@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Verdana';
    src: url('fonts/Verdana-Bold.woff2') format('woff2'),
        url('fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('fonts/Verdana.woff2') format('woff2'),
        url('fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PhoreusCherokee';
    src: url('fonts/phoreuscherokee-regular-webfont.woff2') format('woff2'),
    url('fonts/phoreuscherokee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --font-verdana: 'Verdana', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-PhoreusCherokee: 'PhoreusCherokee', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.custom-container{
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}

.header-main__menu ul li a{
    font-family: var(--font-verdana);
}
.usp__text span{
    font-family: var(--font-poppins);
}
.bundle-benefit__heading-main{
    font-family: var(--font-PhoreusCherokee);
}
.bundle-benefit__heading-desc p{
    font-family: var(--font-PhoreusCherokee);
}
.bundle-benefit__box-item{
    width: 100%;
}
.bundle-benefit__box-item p{
    padding: 33px 35px;
    text-align: center;
    font-family: var(--font-PhoreusCherokee);
    font-weight: 600;
    font-size: 26px;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bundle-benefit__box-item p:first-child{
    flex: 0 1 340px;
    max-width: 340px;
    text-align: left;
    align-items: start;
    font-family: var(--font-PhoreusCherokee);
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #000000;
    border-right: 2px solid #000000;
}
.bundle-benefit__box-item p:nth-child(2){
    flex: 0 1 272px;
    max-width: 272px;
    color: #525050;
}
.bundle-benefit__box-item p:last-child{
    flex: 0 1 288px;
    max-width: 288px;
    text-shadow: 0px 1px 2px #00000099;
    color: #fff;
    background: #FFC658;
    box-shadow: 0px 8px 46px 0px #00000033;
}
.bundle-benefit__box-item:first-child p{
    font-family: var(--font-PhoreusCherokee);
    font-weight: 600;
    font-size: 28px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.bundle-benefit__box-item:first-child p:last-child{
    font-family: var(--font-PhoreusCherokee);
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-shadow: unset;
    margin-top: -25px;
    border-radius: 8px 8px 0 0;
}
.bundle-benefit__box-item:last-child p:last-child{
    margin-bottom: -25px;
    border-radius: 0 0 8px 8px;
}
.bundle-benefit__box-item p:first-child span{
    font-family: var(--font-PhoreusCherokee);
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-top: 5px;
    display: block;
    color: #000000;
}
.bundle-benefit__box-item p img{
    --size: 60px;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
}
.bundle-benefit__box-item:not(:last-child){
    border-bottom: 2px solid #000000
}
.pdp-main__row > div {
    flex: 1;
    max-width: calc(50% - 14px);
}
.pdp-main__slider-nav .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.pdp-main__slider-nav .slick-arrow.prev-arrow {
    left: 0;
}
.pdp-main__slider-nav .slick-arrow.next-arrow {
    right: 0;
}
.pdp-main__slider-nav .slick-arrow.next-arrow svg{
    transform: rotate(180deg);
}
.pdp-main__slider-for .pdp-main__slider-for-item:not(:first-child){
    display: none;
}
.pdp-main__slider-for.slick-initialized .pdp-main__slider-for-item{
    display: block;
}
.pdp-main__slider-nav .slick-list {
    width: calc(100% - 50px);
    margin: 0 auto;
}
.pdp-main__slider-nav-item{
    opacity: 0.5;
    margin: 0 12px;
    cursor: pointer;
}
.pdp-main__slider-nav-item.slick-current{
    opacity: 1;
}
.pdp-main__slider-nav:not(.slick-initialized){
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
}
.pdp-main__slider-nav:not(.slick-initialized) .pdp-main__slider-nav-item{
    opacity: 0.5;
    margin: 0 12px;
    cursor: pointer;
    flex: 0 0 120px;
}
.pdp-main__slider-nav:not(.slick-initialized) .pdp-main__slider-nav-item:first-child{
    opacity: 1;
}
.pdp-main__right-heading{
    font-family: var(--font-PhoreusCherokee);
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
}
.pdp-main__rating span{
    font-family: var(--font-PhoreusCherokee);
    line-height: normal;
    letter-spacing: 0px;
}
.pdp-main__icon-list li{
    flex: 0 1 calc(100% / 6);
    max-width: calc(100% / 6);
}
.pdp-main__bundle-box li{
    position: relative;
    border: 1px solid #C3CFD9;
    --size: 80px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdp-main__bundle-box img.close-icon{
    position: absolute;
    top: -10px;
    right: -10px;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
}
.pdp-main__bundle-box li img {
    width: auto;
    max-height: inherit;
}
.pdp-main__bundle-box li span{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
}
.pdp-main__purchase-options h6{
    font-family: var(--font-PhoreusCherokee);
}
.pdp-main__purchase-options .form-group p:first-child{
    font-family: var(--font-poppins);
}
.pdp-main__purchase-options .form-group p:last-child{
    font-family: var(--font-poppins);
}
.pdp-main__purchase-options .form-group .save-label{
    font-family: var(--font-poppins);
}
.pdp-main__purchase-options .form-group .frequency span{
    font-family: var(--font-poppins);
}
.pdp-main__purchase-options .form-group .frequency select {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.239194 2.42412L5.69935 8.796C5.78736 8.89865 5.89654 8.98105 6.01939 9.03754C6.14224 9.09403 6.27585 9.12328 6.41107 9.12328C6.54628 9.12328 6.6799 9.09403 6.80275 9.03754C6.9256 8.98105 7.03478 8.89865 7.12279 8.796L12.5829 2.42412C13.104 1.81592 12.672 0.876465 11.8712 0.876465H0.94935C0.148569 0.876465 -0.283462 1.81592 0.239194 2.42412Z' fill='%231C1D1D'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 18px 10px;
    appearance: none;
    font-family: var(--font-poppins);
}
.purchase-options-note span{
    font-family: var(--font-poppins);
}
.form-group input:not(:checked) + label .frequency {
    display: none;
}
.pdp-main__stock-deliver img{
    max-height: 16px;
    width: auto;
}
.pdp-main__cart-qty input{
    font-family: var(--font-poppins);
}
.pdp-main__stock-deliver p{
    font-family: var(--font-poppins);
}
.pdp-main__guarentee-note img{
    --size: 40px;
    width: var(--size);
    height: var(--size);
}
.pdp-main__guarentee-note p,
.people-saying__heading{
    font-family: var(--font-PhoreusCherokee);
}
.pdp-main__cart-btn span{
    font-family: var(--font-poppins);
}
.pdp-main__payment span{
    font-family: var(--font-poppins);
}
@media only screen and (min-width: 992px){
    .custom-container{
        max-width: 1285px;
    }   
    .header-main__hamburg{
        display: none;
    }
}
@media only screen and (max-width: 991px){
    .header-main__menu {
        display: none;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 100%;
        left: 0;
        background: #fff;
        z-index: 9;
    }
    .header-main__hamburg .close-icon{
        display: none;
    }
    .header-main__hamburg.open-menu .close-icon {
        display: block;
    }
    .header-main__hamburg.open-menu .menu-icon {
        display: none;
    }
    .main-open-menu{
        overflow: hidden;
    }
    .bundle-benefit__box-item p:first-child{
        flex: 1;
        max-width: 100%;
        border-right-width: 1px;
    }
    .bundle-benefit__box-item p:nth-child(2),
    .bundle-benefit__box-item p:last-child {
        flex: 0 1 220px;
        max-width: 220px;
    }
    .bundle-benefit__box-item p img {
        --size: 40px;
    }
    .bundle-benefit__box-item:not(:last-child){
        border-bottom-width: 1px;
    }
    .bundle-benefit__box-item:first-child p:last-child{
        margin-top: -8px;
        font-size: 24px;
    }
    .bundle-benefit__box-item:last-child p:last-child {
        margin-bottom: -8px;
    }
    .bundle-benefit__box-item:first-child p,
    .bundle-benefit__box-item p:first-child{
        font-size: 20px;
    }
    .bundle-benefit__box-item p{
        padding: 25px 20px;
        font-size: 20px;
    }
    .bundle-benefit__box-item p:first-child span{
        font-size: 16px;
    }
    .pdp-main__row > div {
        max-width: 100%;
    }
    .pdp-main__slider-for .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .pdp-main__slider-for .slick-arrow.prev-arrow {
        left: 0;
    }
    .pdp-main__slider-for .slick-arrow.next-arrow {
        right: 0;
    }
    .pdp-main__slider-for .slick-arrow.next-arrow svg{
        transform: rotate(180deg);
    }
    .pdp-main__slider-for .slick-list {
        width: calc(100% - 55px);
        margin: 0 auto;
    }
    .pdp-main__bundle-mob-heading{
        font-family: var(--font-PhoreusCherokee);
        line-height: normal;
        letter-spacing: normal;
    }
    .pdp-main__bundle-mob ul li span{
        position: absolute;
        left: 50%;
        width: 240px;
        height: 40px;
        transform: translateX(-50%) rotate(-23.56deg);
        z-index: 1;
    }
    .pdp-main__bundle-mob ul li:not(:last-child){
        margin-bottom: 12px;
    }
    .pdp-main__bundle-mob ul li select {
        font-family: var(--font-PhoreusCherokee);
        width: 100%;
        text-transform: capitalize;
        z-index: 1;
        background: transparent;
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8167 3.62077C14.5724 3.37641 14.1774 3.37641 13.933 3.62077L7.49998 10.0538L1.06699 3.62077C0.822631 3.37641 0.42763 3.37641 0.18327 3.62077C-0.06109 3.86513 -0.06109 4.26013 0.18327 4.50449L7.05813 11.3794C7.1161 11.4375 7.18497 11.4836 7.2608 11.515C7.33663 11.5464 7.41792 11.5626 7.50001 11.5625C7.58209 11.5626 7.66338 11.5464 7.73921 11.515C7.81504 11.4836 7.88392 11.4375 7.94188 11.3794L14.8167 4.50449C15.0611 4.26013 15.0611 3.86513 14.8167 3.62077Z' fill='black'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 96% center;
        background-size: 18px;
    }
}
@media only screen and (max-width: 767px){
    .bundle-benefit__box-item p:nth-child(2),
    .bundle-benefit__box-item p:last-child {
        flex: 0 1 102px;
        max-width: 102px; 
    }
    .bundle-benefit__box-item:first-child p,
    .bundle-benefit__box-item p:first-child{
        font-size: 12px;
    }
    .bundle-benefit__box-item:first-child p:last-child{
        font-size: 16px;
    }
    .bundle-benefit__box-item p{
        padding: 10px 16px;
        font-size: 12px;
    }
    .bundle-benefit__box-item p:first-child span{
        font-size: 8px;
    }
    .bundle-benefit__box-item p img {
        --size: 25px;
    }
    .pdp-main__purchase-options .form-group .frequency select{
        background-size: 15px 8px;
    }
    .pdp-main__guarentee-note img{
        --size: 30px;
    }
}
@media only screen and (max-width: 389px){
    .pdp-main__purchase-options .form-group p:first-child span {
        display: block;
        margin: 4px 0 0 0;
    }
}